USE [practica_6]
GO
/****** Object:  Table [dbo].[Materia]    Script Date: 30/11/2019 14:41:34 ******/
DROP TABLE [dbo].[Materia]
GO
/****** Object:  Table [dbo].[Maestro]    Script Date: 30/11/2019 14:41:34 ******/
DROP TABLE [dbo].[Maestro]
GO
/****** Object:  Table [dbo].[Grupo]    Script Date: 30/11/2019 14:41:34 ******/
DROP TABLE [dbo].[Grupo]
GO
/****** Object:  Table [dbo].[Facultad]    Script Date: 30/11/2019 14:41:34 ******/
DROP TABLE [dbo].[Facultad]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 30/11/2019 14:41:34 ******/
DROP TABLE [dbo].[Empleado]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 30/11/2019 14:41:34 ******/
DROP TABLE [dbo].[Departamento]
GO
/****** Object:  Table [dbo].[Carrera]    Script Date: 30/11/2019 14:41:34 ******/
DROP TABLE [dbo].[Carrera]
GO
/****** Object:  Table [dbo].[Calificacion]    Script Date: 30/11/2019 14:41:34 ******/
DROP TABLE [dbo].[Calificacion]
GO
/****** Object:  Table [dbo].[Becarios]    Script Date: 30/11/2019 14:41:34 ******/
DROP TABLE [dbo].[Becarios]
GO
/****** Object:  Table [dbo].[Alumnos_respaldo_2019]    Script Date: 30/11/2019 14:41:34 ******/
DROP TABLE [dbo].[Alumnos_respaldo_2019]
GO
/****** Object:  Table [dbo].[Alumnos_respaldo]    Script Date: 30/11/2019 14:41:34 ******/
DROP TABLE [dbo].[Alumnos_respaldo]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 30/11/2019 14:41:34 ******/
DROP TABLE [dbo].[Alumnos]
GO
USE [master]
GO
/****** Object:  Database [practica_6]    Script Date: 30/11/2019 14:41:34 ******/
DROP DATABASE [practica_6]
GO
/****** Object:  Database [practica_6]    Script Date: 30/11/2019 14:41:34 ******/
CREATE DATABASE [practica_6]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'practica_6', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SERVIDOR\MSSQL\DATA\practica_6.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'practica_6_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SERVIDOR\MSSQL\DATA\practica_6_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [practica_6].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [practica_6]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 30/11/2019 14:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alumnos](
	[id_alumnos] [int] NOT NULL,
	[nombre] [varchar](40) NULL,
	[apellido_paterno] [varchar](40) NULL,
	[apellido_materno] [varchar](40) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Alumnos_respaldo]    Script Date: 30/11/2019 14:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alumnos_respaldo](
	[id_alumnos] [int] NOT NULL,
	[nombre] [varchar](40) NULL,
	[apellido_paterno] [varchar](40) NULL,
	[apellido_materno] [varchar](40) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Alumnos_respaldo_2019]    Script Date: 30/11/2019 14:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alumnos_respaldo_2019](
	[id_alumnos] [int] NOT NULL,
	[nombre] [varchar](40) NULL,
	[apellido_paterno] [varchar](40) NULL,
	[apellido_materno] [varchar](40) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Becarios]    Script Date: 30/11/2019 14:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Becarios](
	[id_becario] [int] NOT NULL,
	[nombre] [varchar](40) NULL,
	[apellido_paterno] [varchar](40) NULL,
	[apellido_materno] [varchar](40) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Calificacion]    Script Date: 30/04/2019 14:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calificacion](
	[id_calificacion] [int] NOT NULL,
	[parcial_1] [int] NULL,
	[parcial_2] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Carrera]    Script Date: 30/11/2019 14:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Carrera](
	[id_carrera] [int] NOT NULL,
	[nombre_carrera] [varchar](40) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 30/11/2019 14:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Departamento](
	[id_departamento] [int] NOT NULL,
	[nombre_departamento] [varchar](40) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 30/11/2019 14:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Empleado](
	[id_empleado] [int] NOT NULL,
	[nombre] [varchar](40) NULL,
	[apellido_paterno] [varchar](40) NULL,
	[apellido_materno] [varchar](40) NULL,
	[fecha_ingreso] [date] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Facultad]    Script Date: 30/11/2019 14:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Facultad](
	[id_facultad] [int] NOT NULL,
	[nombre_facultad] [varchar](40) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Grupo]    Script Date: 30/11/2019 14:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupo](
	[id_grupo] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Maestro]    Script Date: 30/11/2019 14:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Maestro](
	[id_maestro] [int] NOT NULL,
	[nombre] [varchar](40) NULL,
	[apellido_paterno] [varchar](40) NULL,
	[apellido_materno] [varchar](40) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Materia]    Script Date: 30/11/2019 14:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Materia](
	[id_materia] [int] NOT NULL,
	[nombre_materia] [varchar](40) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Alumnos] ([id_alumnos], [nombre], [apellido_paterno], [apellido_materno]) VALUES (1681706, N'Jesus', N'Antonio', N'Fuentes')
INSERT [dbo].[Alumnos] ([id_alumnos], [nombre], [apellido_paterno], [apellido_materno]) VALUES (2, N'Carlos', N'Hernandez', N'Perez')
INSERT [dbo].[Alumnos] ([id_alumnos], [nombre], [apellido_paterno], [apellido_materno]) VALUES (3, N'Brayan', N'Fernandez', N'Flores')
INSERT [dbo].[Alumnos_respaldo_2019] ([id_alumnos], [nombre], [apellido_paterno], [apellido_materno]) VALUES (1669625, N'Andres', N'Hernandez', N'Yañez')
INSERT [dbo].[Alumnos_respaldo_2019] ([id_alumnos], [nombre], [apellido_paterno], [apellido_materno]) VALUES (2, N'Carlos', N'Hernandez', N'Perez')
INSERT [dbo].[Alumnos_respaldo_2019] ([id_alumnos], [nombre], [apellido_paterno], [apellido_materno]) VALUES (3, N'Brayan', N'Fernandez', N'Flores')
INSERT [dbo].[Becarios] ([id_becario], [nombre], [apellido_paterno], [apellido_materno]) VALUES (1, N'Andres', N'Hernandez', N'Sanchez')
INSERT [dbo].[Becarios] ([id_becario], [nombre], [apellido_paterno], [apellido_materno]) VALUES (2, N'Carlos', N'Hernandez', N'Flores')
INSERT [dbo].[Becarios] ([id_becario], [nombre], [apellido_paterno], [apellido_materno]) VALUES (3, N'Brayan', N'Fernandez', N'Gomez')
INSERT [dbo].[Calificacion] ([id_calificacion], [parcial_1], [parcial_2]) VALUES (1, 100, 78)
INSERT [dbo].[Calificacion] ([id_calificacion], [parcial_1], [parcial_2]) VALUES (2, 80, 80)
INSERT [dbo].[Calificacion] ([id_calificacion], [parcial_1], [parcial_2]) VALUES (3, 75, 100)
INSERT [dbo].[Carrera] ([id_carrera], [nombre_carrera]) VALUES (1, N'Licenciatura en Matemáticas')
INSERT [dbo].[Carrera] ([id_carrera], [nombre_carrera]) VALUES (2, N'Licenciatura en Fisica')
INSERT [dbo].[Carrera] ([id_carrera], [nombre_carrera]) VALUES (3, N'Licenciatura en Economia')
INSERT [dbo].[Departamento] ([id_departamento], [nombre_departamento]) VALUES (1, N'Becas')
INSERT [dbo].[Departamento] ([id_departamento], [nombre_departamento]) VALUES (2, N'Escolar')
INSERT [dbo].[Departamento] ([id_departamento], [nombre_departamento]) VALUES (3, N'Tesoreria')
INSERT [dbo].[Empleado] ([id_empleado], [nombre], [apellido_paterno], [apellido_materno], [fecha_ingreso]) VALUES (1, N'Juan', N'Perez', N'Cerda', CAST(N'2017-02-10' AS Date))
INSERT [dbo].[Empleado] ([id_empleado], [nombre], [apellido_paterno], [apellido_materno], [fecha_ingreso]) VALUES (2, N'Eber', N'Hernandez', N'Magaña', CAST(N'2015-12-20' AS Date))
INSERT [dbo].[Empleado] ([id_empleado], [nombre], [apellido_paterno], [apellido_materno], [fecha_ingreso]) VALUES (3, N'Eduardo', N'Herrera', N'Rey', CAST(N'2014-03-30' AS Date))
INSERT [dbo].[Facultad] ([id_facultad], [nombre_facultad]) VALUES (1, N'Facultad de ciencias fisico matematicas')
INSERT [dbo].[Facultad] ([id_facultad], [nombre_facultad]) VALUES (2, N'Facultad de musica')
INSERT [dbo].[Facultad] ([id_facultad], [nombre_facultad]) VALUES (3, N'Facultad de medicina')
INSERT [dbo].[Grupo] ([id_grupo]) VALUES (1)
INSERT [dbo].[Grupo] ([id_grupo]) VALUES (2)
INSERT [dbo].[Grupo] ([id_grupo]) VALUES (3)
INSERT [dbo].[Maestro] ([id_maestro], [nombre], [apellido_paterno], [apellido_materno]) VALUES (5685457, N'Pepe', N'Hernandez', N'Oroña')
INSERT [dbo].[Maestro] ([id_maestro], [nombre], [apellido_paterno], [apellido_materno]) VALUES (2, N'Miguel', N'Fernandez', N'Nieto')
INSERT [dbo].[Maestro] ([id_maestro], [nombre], [apellido_paterno], [apellido_materno]) VALUES (3, N'Raul', N'Perez', N'Fox')
INSERT [dbo].[Materia] ([id_materia], [nombre_materia]) VALUES (1, N'Algebra')
INSERT [dbo].[Materia] ([id_materia], [nombre_materia]) VALUES (2, N'Calculo Diferencias')
INSERT [dbo].[Materia] ([id_materia], [nombre_materia]) VALUES (3, N'Fisica')
USE [master]
GO
